.error-message {
color: rgb(88, 7, 7);
margin-top: 10px;
font-size: 14px;
text-align: center;
}



.container {
    display: flex;
    width: 100vw;
    height: 100vh; 
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.left-panel {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../../../../public/assets/Pattern.png'),
    linear-gradient(to bottom, #f3f1f1ee 0%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #646464;
}


.header-logo {
    text-align: right;
    margin-bottom: 30px;
}

.header-logo img {
    max-width: 150px;
    height: auto;
}

.content h1 {
    color: #cc0000;
    font-size: 2.2em;
    margin-bottom: 10px;
}

.content p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content h2 {
    color: #333;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.form-group input[type="password"] {
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center; 
    background-size: 20px;
    padding-right: 40px;
}

.content p a {
    color: #cc0000;
    text-decoration: none;
    font-size: 0.9em;
}

.content p a:hover {
    text-decoration: underline;
}

.btn-login {
    background-color: #cc0000;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #a00000;
}

.btn-login:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.signup-text {
    text-align: center;
    margin-top: 30px;
    color: #555;
}

.signup-text a {
    color: #cc0000;
    text-decoration: none;
    font-weight: bold;
}

.right-panel {
    flex: 1;
    background-color: white;
    /*background-image: linear-gradient(to top, #ee0b0bcb, #ca4242);*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right-panel img {
    max-width: 100%;
    height: auto;
    display: block; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        width: 100%;
        height: auto;
        max-width: none;
        box-shadow: none;
        border-radius: 0;
    }

    .left-panel, .right-panel {
        padding: 30px;
    }

    .right-panel {
        order: -1;
        margin-bottom: 20px;
    }
}